body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9fafc; 
}

h1, h3 {
    color: #000;
    font-size: 15px;
    font-weight: 600;
}

h2 {
    color: #000;
    font-size: 30px;
    font-weight: 600;
}

nav {
    display: flex;
    flex-direction: column;
}

.nav-list {
    color: #69696a; 
    float: left;
    margin-left: 0;
    padding-left: 0;
}

li {
    padding: 5px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #69696a; 
}

.about p {
    color: #69696a;
    border-left-style: solid;
    border-width: 3px;
    padding-left: 10px;
    margin-left: 10px;
}

.button {
    display: block;
    background-color: black;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
}

footer {
    background-color: rgba(247, 193, 162, 0.7);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

footer p {
    color:#000;
    font-weight: 600;
    padding: 5px;
}

.footer-list {
    display: flex;
}

